{% extends "base_index.html" %}
<link rel="stylesheet" type="text/css" href="static/custom.css">

{% block creator_song_list %}

<div class="container ms-2">
    {% for song_dictionary in songs %}
    <div class="song-small mt-3 col-6 align-items-center d-flex">
        <div class="col-1 text-white h3">{{ song_dictionary.song_ID }}</div>
        <div class="col d-flex align-items-center" style="height: 48px;">
            <img class="rounded m-1 mt-0" src="https://images.macrumors.com/t/MKlRm9rIBpfcGnjTpf6ZxgpFTUg=/1600x1200/smart/article-new/2018/05/apple-music-note.jpg" style="width: 50px; height: 48px; object-fit: cover;">
            <div class="text-white h6 ms-2">
                <div>Song name: {{ song_dictionary.song_name }}</div>
                <small class="text-muted">Artist: {{ song_dictionary.artist }}</small>
            </div>
        </div>
        <div class="col-2 text-white">00:{{ song_dictionary.duration }}</div>
        <a href="/creator_music_player/{{ song_dictionary.song_ID }}" class="col-2 d-flex align-items-center justify-content-center">
            <img class="bg-white rounded-circle" style="width: 20px; height: 20px;" src="/static/play_icon.svg">
        </a>
    </div>
    
    {% endfor %}
</div>

{% endblock %}