{% extends "base_index.html" %}

{% block logout %}
<a href= '/creator_logout' type="button" class="btn btn-warning">Logout</a>
{% endblock %}

{% block icon %}
<a class="nav-link" href="/creator_profile" tabindex="-1"><img width="25px" src="/static/profile_icon.png" alt="Profile"></a>
{% endblock %}

{% block song_upload %}
<div class="d-grid gap-2 d-md-flex justify-content-md-end"><a href = '/song_upload' type="button" class="btn btn-info ">Upload song to server</a></div>
{% endblock %}

{% block album_list %}
    <div>
        <div class="text-bg-info p-2 text-white " style="font-family:Algerian;">
        <h1><center><u>Albums</u></center></h1>
    </div>
    <div class="row row-cols-1 row-cols-md-4 g-4 my-2 mx-2">
        {%for i in album_list %}
            <div class="col" id="mv">
            <div class="card">
                <a href='/album/{{i.album_ID}}' method='get'><img src="https://c.saavncdn.com/631/My-Creation-English-2016-20180805042905-500x500.jpg" height="225px" class="card-img-top" alt="image"></a>
                <div class="card-body">
                <center><h5 class="card-title">{{i.album_name}}</h5></center>
                </div>
            </div>
            </div>
        {% endfor %}
    </div>


    <div class="row row-cols-1 row-cols-md-4 g-4 my-2 mx-2">
        <div class="col" id="mv">
        <div class="card">
            <a href='/creator_list_all_songs' method='get'><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQy1RKLsAZ_6HQjpxUPIbwPlx1obk7VEBGJCvppSNLf1NKyvAY-GmbdRELjdM5wDqBA5c8&usqp=CAU" height="225px" class="card-img-top" alt="image"></a>
            <div class="card-body">
            <center><h5 class="card-title">Play all songs</h5></center>
            </div>
        </div>
        </div>
    </div>
  
    {% endblock %}
    




